[Desktop Entry]
Encoding=UTF-8
GenericName=Internet Dial-Up Tool
GenericName[ca]=Eina per a la connexió telefònica a Internet
GenericName[cs]=Připojení přes vytáčenou linku
GenericName[da]=Internet-opkaldsværktøj
GenericName[de]=Einwahl ins Internet
GenericName[el]=Εργαλείο σύνδεσης μέσω τηλεφώνου στο διαδίκτυο
GenericName[es]=Herramienta de conexión telefónica a Internet
GenericName[et]=Sissehelistamine
GenericName[eu]=Internet markatzaile tresna
GenericName[fa]=ابزار شماره‌گیری اینترنت
GenericName[fi]=Internet-yhteyden soitto-ohjelma
GenericName[fr]=Connexion internet par modem
GenericName[ga]=Uirlis Diailithe Idirlín
GenericName[gl]=Ferramenta de Conexión Telefónica a Internet
GenericName[he]=כלי חיוג לאינטרנט
GenericName[hr]=Program za spajanje na Internet
GenericName[hu]=Internetes tárcsázó
GenericName[is]=Tengjast Netinu með upphringisambandi
GenericName[it]=Strumento per la connessione telefonica ad Internet
GenericName[ja]=インターネットダイアルアップツール
GenericName[kk]=Телефондық желі арқылы Интернетке қосылу құралы
GenericName[km]=ឧបករណ៍​ចូល​ដំណើរការ​អ៊ីនធឺណិត តាម​រយៈ​ទូរស័ព្ទ​លើ​តុ
GenericName[lt]=Interneto skambinimo priemonė
GenericName[mk]=Алатка за поврзување на Интернет
GenericName[nb]=Verktøy for oppringing til Internet
GenericName[nds]=Internetinwahl-Warktüüch
GenericName[ne]=इन्टरनेट डायल-अप उपकरण
GenericName[nl]=Inbelprogramma
GenericName[nn]=Verktøy for Internett-oppringing
GenericName[pl]=Narzędzie do łączenia telefonicznego z Internetem
GenericName[pt]=Ferramenta de Ligação à Internet
GenericName[pt_BR]=Ferramenta de Conexão a Internet
GenericName[ro]=Utilitar de conectare la Internet prin telefon
GenericName[ru]=Соединение с Интернет посредством телефонной линии
GenericName[sl]=Orodje za klicni priklop na internet
GenericName[sr]=Алат за повезивање на Интернет
GenericName[sr@latin]=Alat za povezivanje na Internet
GenericName[sv]=Uppringningsverktyg för Internet
GenericName[ta]=இணைய அழைப்புக் கருவி
GenericName[tg]=Асбоб барои Зангзанӣ ба Интернет
GenericName[tr]=İnternet Çevirmeli Ağ Aracı
GenericName[uk]=Засіб дозвону в Інтернет
GenericName[x-test]=xxInternet Dial-Up Toolxx
GenericName[zh_HK]=互聯網撥號工具
GenericName[zh_TW]=Internet 撥號工具
Name=KPPP
Name[af]=Kppp
Name[eo]=Interretkonektilo
Name[ne]=के पी पी पी
Name[sv]=Kppp
Name[x-test]=xxKPPPxx
Name[zh_TW]=KPPP 撥號工具
MimeType=
DocPath=kppp/index.html
Exec=kppp
Icon=kppp
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Network;
