[Desktop Entry]
Encoding=UTF-8
Comment=Internet Dial-up Tool
Comment[da]=Internet opringningsværktøj
Comment[de]=Einwahl ins Internet
Comment[es]=Herramienta de conexión telefónica a Internet
Comment[fi]=Työkalu internettiin soittamiseen
Comment[fr]=Un outil de connexion internet par un modem téléphonique
Comment[he]=כלי חיוג לאינטרנט
Comment[hu]=Telefonos tárcsázóprogram
Comment[lt]=Interneto skambinimo priemonė
Comment[lv]=Interneta Iezvanīšanās Rīks
Comment[pt]=Ferramenta de Ligação à Internet
Comment[pt_BR]=Ferramenta de Ligação à Internet
Comment[sk]=Pripojenie na internet cez modem
Comment[sv]=Koppla upp till Internet via modem
Comment[ta]=­¨½Â «¨ÆôÒì ¸ÕÅ¢
Comment[tr]=Çevirmeli Ağ Aracı
Comment[xx]=xx
BinaryPattern=kppp;
Protocols=
Name=KPPP
Name[fr]=kPPP
Name[hu]=KPPP telefonos tárcsázó
Name[xx]=xx
MimeType=
DocPath=kppp/index.html
Exec=kppp %i %m
Icon=kppp
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
