[Desktop Entry]
Encoding=UTF-8
GenericName=Internet Dial-up Tool
GenericName[af]=Internet Op-bel Program
GenericName[bg]=Програма за включване в Интернет чрез телефон
GenericName[bs]=Program za spajanje na Internet
GenericName[ca]=Eina per a la connexió telefònica a Internet
GenericName[cs]=Program na připojení přes vytáčenou linku
GenericName[cy]=Erfyn Cyswllt Ffôn Cyffredinol
GenericName[da]=Internet-opringningsværktøj
GenericName[de]=Einwahl ins Internet
GenericName[el]=Εργαλείο dial-up στο Διαδίκτυο
GenericName[eo]=Ilo por konekti al Interreto
GenericName[es]=Conexión telefónica a Internet
GenericName[et]=Sissehelistamine
GenericName[fi]=Internetyhteyden soitto-ohjelma
GenericName[fr]=Connexion internet par modem
GenericName[gl]=Ferramenta para conectarse a Internet por modem
GenericName[he]=כלי חיוג לאינטרנט
GenericName[hi]=इंटरनेट डॉयल-अप उपकरण
GenericName[hr]=Program za spajanje na Internet (PPP)
GenericName[hu]=Telefonos tárcsázó
GenericName[is]=Tengjast Netinu með PPP
GenericName[it]=Strumento per la connessione telefonica a Internet
GenericName[ja]=インターネットダイアルアップツール
GenericName[lt]=Interneto skambinimo priemonė
GenericName[lv]=Interneta Iezvanīšanās Rīks
GenericName[mk]=Алатка за поврзување на Интернет
GenericName[mn]=Интернeт-д холбогдэх хэрэгсэл
GenericName[ms]=Alatan Dail Internet
GenericName[mt]=Aqbad mal-internet permezz tat-telefon
GenericName[nb]=Verktøy for oppringing til Internet 
GenericName[nl]=Inbelprogramma
GenericName[nn]=Verktøy for Internett-oppringing
GenericName[nso]=Sediriswa sa Dial-up ya Internet
GenericName[pl]=Połączenie telefoniczne z Internetem
GenericName[pt]=Ligação à Internet
GenericName[pt_BR]=Ferramenta de dial-up
GenericName[ro]=Utilitar de conectare la Internet prin telefon
GenericName[ru]=Утилита для подключения к Интернet
GenericName[sk]=Pripojenie na internet cez modem
GenericName[sl]=Orodje za priklop na internet
GenericName[sr]=Алат за повезивање на Интернет
GenericName[sr@Latn]=Alat za povezivanje na Internet
GenericName[sv]=Anslut till Internet via modem
GenericName[ta]=இணைய அழைப்புக் கருவி
GenericName[th]=เครื่องมือหมุนเชื่อมต่ออินเตอร์เน็ต
GenericName[tr]=Çevirmeli Ağ Aracı
GenericName[uk]=Засіб дозвону в Інтернет
GenericName[ven]=Tshishumiswa tsha daila ntha tsha inithanete
GenericName[vi]=Công cụ Internet dial-up 
GenericName[wa]=Usteye di raloyaedje al Daegntoele
GenericName[xh]=Isixhobo Sokuvula i Internet
GenericName[xx]=xxInternet Dial-up Toolxx
GenericName[zh_CN]=Internet 拨号工具
GenericName[zh_TW]=Internet 撥號工具
GenericName[zu]=Ithuluzi sokushayela-phezulu Uxhumaniso olusakazekileyo
BinaryPattern=kppp;
Name=KPPP
Name[af]=Kppp
Name[eo]=Interretkonektilo
Name[hi]=केपीपीपी
Name[sv]=Kppp
Name[xx]=xxKPPPxx
MimeType=
DocPath=kppp/index.html
Exec=kppp %i %m
Icon=kppp
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Network
