[KDE Desktop Entry]
Encoding=UTF-8
BinaryPattern=kppplogview;
Name=KPPP - Log Viewer
Name[af]=Kppp - Log Aansig
Name[ar]=معاين سجلات KPPP
Name[bg]=Преглед на журнала на KPPP
Name[bs]=Preglednik Kppp dnevnika
Name[ca]=Visor de la bitàcola del KPPP
Name[cs]=KPPP - Prohlížeč záznamů
Name[cy]=KPPP - Gwelydd Log
Name[da]=KPPP - logvisning
Name[de]=KPPP-Log-Betrachter
Name[el]=KPPP - Προβολέας αρχείων καταγραφής
Name[eo]=PPP-protokolorigardilo
Name[es]=Visor de registros de KPPP
Name[et]=KPPP - logide vaatamine
Name[eu]=KPPP - Log ikustailea
Name[fi]=KPPP - lokinäyttäjä
Name[fr]=KPPPLogView
Name[gl]=KPPP - Visualizador de bitácoras
Name[he]=KPPP - תצוגת רישום
Name[hi]=केपीपीपी - लॉग प्रदर्शक
Name[hr]=Preglednik Kppp dnevnika
Name[hu]=KPPP eseménynapló
Name[is]=KPPP - Skoða annála
Name[it]=KPPP - Visualizzatore log
Name[ja]=KPPP - ログビューア
Name[lt]=KPPP – žurnalo žiūriklis
Name[lv]=KPPP - Žurnāla Skatītājs
Name[mk]=Прегледувач на записи во KPPP
Name[mn]=KPPP - харагч
Name[ms]=KPPP - Pelihat Log
Name[mt]=KPPP - Werrej tal-log
Name[nb]=KPPP loggviser
Name[nn]=KPPP - loggvising
Name[nso]=KPPP - Molebeledi wa Log 
Name[pl]=Dziennik połączeń KPPP
Name[pt]=KPPP - Visualizador dos Registos
Name[pt_BR]=KPPP - Visualizador de Registros
Name[ro]=Jurnal conectare Internet
Name[ru]=KPPP - Просмотрщик журнала 
Name[sk]=KPPP - Prehliadač logov
Name[sl]=KPPP - Pregled dnevniških datotek
Name[sr]=KPPP — приказивач дневника
Name[sr@Latn]=KPPP — prikazivač dnevnika
Name[sv]=Kppp - Loggvisare
Name[ta]=KPPP - குறிப்புக்காட்டி
Name[tg]=KPPP - Азназаргузарони Номнавис
Name[th]=แสดงบันทึกติดตาม KPPP
Name[tr]=KPPP Kayıt Görüntüleyici
Name[uk]=Переглядач журналу KPPP
Name[ven]=KPPP - Muvhoni wa u loga
Name[vi]=Trình xem log KPPP 
Name[wa]=KPPP - Håyneu des djournås
Name[xh]=Ushicilelo olunenkcukacha Lwemboniselo ye KPPP
Name[zh_CN]=KPPP - 日志查看器
Name[zh_TW]=KPPP - 紀錄檔檢視器
Name[zu]=KPPP - Umboniso Wongeniso
MimeType=
Exec=kppplogview
Icon=kppp
TerminalOptions=
Path=
Type=Application
Terminal=
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Network;X-KDE-More
