[KDE Desktop Entry]
BinaryPattern=kppplogview;
Protocols=
Name=KPPP - Log Viewer
Name[af]=kppp - log-besigtiging
Name[ar]=سجلات KPPP
Name[az]=KPPP - Qeyd Nümayişçisi
Name[bg]=Преглед на журнала на KPPP
Name[bs]=Preglednik Kppp dnevnika
Name[ca]=Vista del registre KPPP
Name[cs]=Prohlížeč záznamů programu Kppp
Name[da]=KPPP-logvisning
Name[de]=KPPP-Log-Betrachter
Name[eo]=PPP-protokolorigardilo
Name[es]=Visor de registros de KPPP
Name[et]=KPPP logide vaatamine
Name[eu]=KPPP - Log ikusgailua
Name[fi]=Internet-soittojen loki
Name[fr]=Journal des connexions PPP
Name[he]=תצוגת הרישום של KPPP
Name[hr]=Preglednik Kppp dnevnika
Name[hu]=KPPP eseménynapló
Name[is]=kppp - Skoða annála
Name[it]=KPPP - Visualizzatore log
Name[ja]=KPPP - ログ
Name[ko]=KPPP - 로그 보기
Name[lt]=KPPP - protokolų žiūriklis
Name[mk]=KPPP - снимки
Name[nb]=KPPP - loggvisning
Name[nl]=KPPP - Logviewer
Name[nn]=KPPP - loggvising
Name[oc]=Vista dèu registre KPPP
Name[pl]=KPPP - Przeglądarka logów
Name[pt]=KPPP - Registos
Name[pt_BR]=KPPP - Ver Log
Name[ru]=Просмотрщик журнала KPPP
Name[sk]=KPPP - prehliadač logov
Name[sl]=KPPP - Pregled dnevniških datotek
Name[sr]=KPPP - prikazivač zapisnika
Name[sv]=KPPP - Loggvisare
Name[ta]=KPPP - ÌÈ¢ôÒì¸¡ðÊ
Name[tr]=KPPP - Kayıt Görüntüleyici
Name[uk]=Переглядач журналу Kppp
Name[vi]=Trình xem log KPPP 
Name[xh]=KPPP - Imboniselo yesigodo
Name[xx]=xx
Name[zh_CN]=KPPP - 记录查看
Name[zh_TW]=KPPP - 連線紀錄
Name[zu]=KPPP - Umboniso wesigodo
MimeType=
Exec=kppplogview
Icon=kppp
TerminalOptions=
Path=
Type=Application
Terminal=
X-DCOP-ServiceType=Multi
