[Desktop Entry]
Name=KPPPLogview
Name[bn]=কে-পি-পি-পি লগভিউ
Name[bs]=Preglednik Kppp dnevnika
Name[de]=KPPP-Protokoll-Betrachter
Name[el]=Προβολή καταγραφής KPPP
Name[eo]=PPP-protokolorigardilo
Name[fa]=نمای ثبت KPPP
Name[he]=KPPP תצוגת רישום
Name[is]=KPPP annálaskoðari
Name[it]=Visualizzatore log KPPP
Name[ja]=KPPP - ログビューア
Name[lt]=KPPP – žurnalo žiūriklis
Name[nb]=KPPP loggviser
Name[ne]=के पी पी पी लग दृश्य
Name[nn]=KPPP-loggvisar
Name[pa]=KPPP ਲਾਗ ਦਰਸ਼ਕ
Name[pl]=Dziennik połączeń KPPP
Name[sk]=KPPP prehliadač záznamov
Name[sl]=Ogled dnevnika KPPP
Name[sv]=Kppp - Loggvisare
Name[tr]=KPPP Kayıt Görüntüleyici
Name[zh_TW]=KPPP - 紀錄檔檢視器
GenericName=Internet Dial-Up Tool Log Viewer
GenericName[be]=Аглядальнік дзённікаў KPPP
GenericName[bg]=Преглед на журнала на KPPP
GenericName[bn]=ইন্টারনেট ডায়াল-আপ সরঞ্জাম কার্যবিবরণী প্রদর্শক
GenericName[bs]=Program za pregled dnevnika spajanja na Internet
GenericName[ca]=Visor de la bitàcola de l'eina de connexió telefònica a Internet
GenericName[cs]=Prohlížeč záznamů připojení přes vytáčenou linku
GenericName[da]=Internet-opkaldsværktøj-logviser
GenericName[de]=Protokoll-Betrachter für die Einwahl ins Internet
GenericName[el]=Προβολή καταγραφής εργαλείου σύνδεσης μέσω τηλεφώνου στο διαδίκτυο
GenericName[es]=Visor del registro de conexión telefónica a Internet
GenericName[et]=Interneti sissehelistamise rakenduse logide näitaja
GenericName[eu]=Internet markatzaile tresnaren erregistroaren ikusgailua
GenericName[fa]=ابزار مشاهده‌گر ثبت شماره‌گیری اینترنت
GenericName[fi]=Internet-yhteyden soitto-ohjelman lokin näytin
GenericName[fr]=Afficheur de l'historique des connexion internet par modem
GenericName[gl]=Visor de Rexistros da Ferramenta de Conexión a Internet por Teléfono
GenericName[he]=תצוגת רישום של כלי חיוג לאינטרנט
GenericName[hu]=Tárcsázó-napló
GenericName[is]=Upphringisambands annálaskoðari
GenericName[it]=Visualizzatore di log della connessione telefonica ad Internet
GenericName[ja]=インターネットダイアルアップツール ログビューア
GenericName[ka]=ინტერნეტი Dial-Up ხელსაწყოს ჟურნალის მხილველი
GenericName[kk]=Телефондық желі арқылы қосылудың журналын қарау құралы
GenericName[km]=កម្មវិធី​មើល​កំណត់ហេតុរបស់ឧបករណ៍​ដែល​តភ្ជាប់​ទៅ​អ៊ីនធឺណិត​តាម​រយៈ​ទូរស័ព្ទ​លើ​តុ
GenericName[lt]=Interneto skambinimo priemonės žurnalo žiūriklis
GenericName[nb]=Loggviser for verktøyet for oppringt Internet
GenericName[nds]=Protokollkieker för Internetinwahl
GenericName[ne]=इन्टरनेट डायल-अप उपकरण लग दर्शक
GenericName[nl]=Logviewer voor het inbelprogramma kppp
GenericName[nn]=Loggvisar for verktøyet for Internett-oppringing
GenericName[pl]=Narzędzie do przeglądania dziennika programu do łączenia z Internetem
GenericName[pt]=Visualizador de Registos da Ferramenta de Ligação à Internet
GenericName[pt_BR]=Visualizador de Logs do KPPP
GenericName[ro]=Jurnal conectare Internet
GenericName[ru]=Просмотр журнала соединения с Интернетом посредством телефонной линии
GenericName[sk]=Prehliadač záznamov nástroja pre pripojenie na internet cez modem
GenericName[sl]=Orodje za ogled dnevnika KPPP
GenericName[sr]=Приказивач дневника модемске везе са Интернетом
GenericName[sr@Latn]=Prikazivač dnevnika modemske veze sa Internetom
GenericName[sv]=Loggvisning för Internetuppringningsverktyg
GenericName[tr]=İnternet Çevirmeli Ağ Aracı Kayıt Görüntüleyici
GenericName[uk]=Переглядач журналу засобу дозвону в Інтернет
GenericName[zh_CN]=Internet 拨号工具日志查看器
GenericName[zh_HK]=互聯網撥號工具記錄檢視器
GenericName[zh_TW]=Internet 撥號工具紀錄檢視器
MimeType=
Exec=kppplogview
Icon=kppp
Path=
Type=Application
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Network;X-KDE-More;Dialup;
